@media screen and (max-width: 700px) {
  .opt {
    flex-direction: column;
    gap: 2vh;
    align-items: flex-start
  }
  .opt>button{
    padding: 1vh 50%;
  }
  
}

@media  screen and (max-width: 550px) {
  .StudentReportPage header {
    flex-direction: column;
    align-items: center;
    justify-content: center !important;
  }
}

.opt>div{
  margin: 0px 20px;
}